.blue{
    color:#e3f2fd !important ;  
}
.student-footer{
    background-color:rgb(38, 125, 255) !important; 
} 

.card{
    cursor: pointer;
}

.required{
    color: red;
}

i{
    cursor: pointer;
}

.clicked {
    color: rgb(13, 110, 253); 
    transform: scale(1.2); 
}

.searchInput{
    transition: 0.7s;
}